---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Tools - Streetcat Identifier"
    description="A collection of tools for Hello Street Cat fans."
>
    <div>
        <h1>Tools</h1>
        <div>Random tools for street cat related things</div>
        <a href={"/tools/compare"} class="toolListItem">
            <h3>Street Cat Comparison</h3>
            <div>Compare cats from each feeder</div>
        </a>
        <a href={"/tools/checker"} class="toolListItem">
            <h3>Meow.camera file checker</h3>
            <div>Get the date+time from the filename</div>
        </a>
        <a href={"/tools/notepad"} class="toolListItem">
            <h3>Feeder notepad</h3>
            <div>Keep track of your favourite feeders</div>
        </a>
        <a href={"/tools/wikicat"} class="toolListItem">
            <h3>Create Cat Wiki Page</h3>
            <div>Generator for Streetcat Wiki cat pages</div>
        </a>
    </div>
</Layout>
