---
import { linkWiki } from "../../Const";
import Divider from "../../components/Divider.astro";
import { ToolWikiCat } from "../../components/tools/ToolWikiCat";
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Wiki Cat Page Generator - Streetcat Identifier"
    description="Generate wiki source text for Streetcat Wiki cat pages"
>
    <div>
        <h1>Create a Cat Page for Street Cat Wiki</h1>
        <div>
            This is a helper tool which generates Wiki Source text to make a cat
            page on
            <a href={linkWiki}>Street Cat Wiki</a>.
        </div>
        <Divider />
        <ToolWikiCat client:only="react" />
    </div>
</Layout>
