---
import { linkGithub, linkDiscordWiki, linkDiscordDeMiaowa } from "../Const";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Contact</h1>
    <p>
        Found an problem? Want to contribute images? You can:
        <ul>
            <li>
                Open an issue on <a href={`${linkGithub}/issues`}>Github</a> (or
                open a pull request with your changes)
            </li>
            <li>
                Ping/Message @thefloppypig on the
                <a href={linkDiscordWiki}>Wiki Discord</a>
                or the
                <a href={linkDiscordDeMiaowa}>DeMiaowa Discord</a>
            </li>
        </ul>
    </p>
    <p></p>
</Layout>
