---
import { Image } from "astro:assets";
import banner from "../assets/banner.webp";
import home from "../assets/home.webp";
---

<div class="home">
    <Image
        style="width: 100%; max-width: 500px; height: auto;"
        src={banner}
        alt="Streetcat Identifier Banner"
    />

    <h1>Streetcat Identifier</h1>

    <div>Identify the cats on Hello Street Cat livestreams!</div>
    <br />
    <a class="feederListItem aNone" href={"/list"}>View the List of Feeders!</a>
    <br />
    <br />
    <a class="feederListItem aNone" href={"/happycanteen"}
        >View the happy canteen cats!</a
    >
    <br />
    <br />
    <div>
        <a href={"/happycanteen"}>
            <Image
                style="width: 250px; height: auto; max-width: 100%"
                src={home}
                alt="Mr Puke and Mr Sleepy at the Happy Canteen"
            />
        </a>
        <br />
        <i>Ms Puke and Ms Sleepy at the Happy Canteen</i>
    </div>
</div>
