html {
  --navHeight: 40px;
  --buttonColor: black;
  --hoverColor: gray;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
}

td,
tr,
img {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 10px 0 0 0;
}

h1 {
  font-size: x-large;
}

.a:link {
  color: #bbb9ff;
  text-decoration: dotted underline;
}

.a:visited {
  color: #e0abe1;
}

.a:hover {
  color: #ffffff;
}

.aNone {
  color: white;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
}

@media (max-width: 500px) {
  .app {
    font-size: 14px;
  }
}

.main {
  flex: 1;
}

@media (min-aspect-ratio: 1) {
  .main {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
}

.home {
  text-align: center;
}

.nav {
  display: flex;
  gap: 0px;
  align-items: center;
  background-color: black;
  height: var(--navHeight);
  line-height: 0;
}

.navicon {
  height: var(--navHeight);
  height: var(--navHeight);
  cursor: pointer;
}

.navlink {
  height: var(--navHeight);
  cursor: pointer;
  line-height: 35px;
  padding: 0px 5px;
  background-color: transparent;
  border: 1px solid #515151;
  border-radius: 0px 0px 10px 10px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.navlink:hover,
.navicon:hover {
  background-color: #595959;
}

.divider {
  border-top: 1px solid #8f8f8f;
  border-radius: 5px;
}

.centered {
  text-align: center;
}

.linkButton {
  color: inherit;
  padding: 5px;
  margin: 3px;
  background-color: black;
  text-decoration: none;
  border-radius: 10px;
}

.linkButton:hover {
  background-color: gray;
}

.warning {
  color: yellow;
}

.warningBox {
  border: yellow 1px solid;
  border-radius: 10px;
  margin: 2px;
  padding: 5px;
  background-color: rgba(255, 255, 0, 0.308);
}

.idTable {
  border-collapse: collapse;
  overflow-x: auto;
  height: 100%;
  width: 100%;
  font-size: 12.5px;
}

@media (max-width: 500px) {
  .idTable {
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  .idTable {
    font-size: 7px;
  }
}

.identifier1stCol {
  width: auto;
}

.identifierCol {
  width: 30%;
}

.identifierTd {
  aspect-ratio: 16/9;
}

.identifierImg {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.idRadio {
  text-wrap: nowrap;
  user-select: none;
  display: inline-block;
}

.breakwords {
  word-break: break-all;
}

.imgView {
  width: 100%;
  height: auto;
}

.galleryImg {
  width: 100%;
  height: auto;
  border: 0;
}

.galleryIframe {
  width: 100%;
  height: fit-content;
  border: 0;
}

.footer {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background-color: black;
}

.footlink {
  cursor: pointer;
  border: 0;
  color: gray;
  white-space: nowrap;
}

.toolListItem {
  display: block;
  margin: 5px;
  padding: 0px 5px;
  line-height: initial;
  display: block;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  background-color: #595959;
  width: fit-content;
}

.toolListItem:hover {
  background-color: var(--hoverColor);
}

.feederListItem {
  width: fit-content;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 15px;
  background-color: var(--buttonColor);
}

.feederListItem:hover {
  background-color: var(--hoverColor);
}

.dropzone {
  padding: 10px;
  text-align: center;
  border: 3px dashed grey;
  color: gray;
  cursor: pointer;
}

.dropzoneReady {
  background-color: #8f8f8f8f;
}