html {
  --navHeight: 40px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  line-height: 0;
}

body {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  height: 100%;
  width: 100%;
  font-size: small;
}

td,
tr,
img {
  padding: 0;
  margin: 0;
}

.main {
  min-height: 90vh;
  margin-right: auto;
  margin-left: auto;
}

@media (min-aspect-ratio: 1) {
  .main {
    width: 75%;
  }
}

.home {
  text-align: center;
}

.nav {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: black;
  height: var(--navHeight);
}

.navicon {
  height: var(--navHeight);
  height: var(--navHeight);
  cursor: pointer;
}

.navlink {
  height: var(--navHeight);
  cursor: pointer;
  line-height: 35px;
  background-color: transparent;
  border: 0;
  color: inherit;
  text-decoration: inherit;
  white-space: nowrap;
}

.navlink:hover,
.navicon:hover {
  background-color: #595959;
}

.divider {
  border-top: 1px solid #8f8f8f;
  border-radius: 5px;
}

.centered {
  text-align: center;
}

.identifier1stCol {
  width: auto;
}

.identifierCol {
  width: 10px;
}

.identifierTd {
  height: 100%;
}

.identifierImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.idRadio {
  text-wrap: nowrap;
}

.galleryIframe {
  width: 100%;
  height: fit-content;
  border: 0;
}

.footer {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background-color: black;
}

.footlink {
  cursor: pointer;
  border: 0;
  color: gray;
  white-space: nowrap;
}