---
import { linkGithub } from "../Const";
---

<footer class="footer">
    <span>Streetcat Identifier</span>
    <a class="footlink" href={"/about"}>About</a>
    <a class="footlink" href={"/contact"}>Contact</a>
    <a class="footlink" href={linkGithub}>Github</a>
</footer>
