---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { SEO } from "astro-seo";
import "./main.css";
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
			title="Streetcat Identifier"
			description="Identify the cats on Hello Street Cat livestreams"
		/>
		<base href="/" />
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/icon-48.webp" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="google-site-verification"
			content="mQIZHJTVOWoWfgQva3TVVc2KbAl37RGW8hXK5yM0ZKk"
		/>
		<link rel="manifest" href="manifest.json" />
	</head>

	<body>
		<div class="app">
			<Nav />
			<div class="main">
				<slot />
			</div>
			<Footer />
		</div>
	</body>
</html>
